        <!--========== HEADER ==========-->
        <header class="header navbar-fixed-top">
            <!-- Navbar -->
            <nav class="navbar" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="menu-container js_nav-item">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="toggle-icon"></span>
                        </button>

                        <!-- Logo -->
                        <div class="logo">
                                <img class="logo-img-main" src="../img/logos/Logo_PionierGarage_full-white.png" alt="Pioniergarage Logo" style="width:250px; margin-top:2rem;">
                                <img class="logo-img-active" src="../img/logos/Logo_PionierGarage_full.png" alt="Pioniergarage Logo" style="width:250px; margin-top:2rem;">
                         
                        </div>
                        <!-- End Logo -->
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-collapse">
                        <div class="menu-container">
                            <ul class="nav navbar-nav navbar-nav-right">
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#body">Home</a></li>
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#about-us">About Us</a></li>
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#about-the-tour">About the Tour</a></li>
                        <!--        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#team">Team</a></li> -->
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#past_tours">Past Tours</a></li>

                               <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#sponsors_and_partners">Sponsors & Partners</a></li>
                                <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#contact">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Navbar Collapse -->
                </div>
            </nav>
            <!-- Navbar -->
        </header>
        <!--========== END HEADER ==========-->

        <!--========== SLIDER ==========-->
        <div class="promo-block parallax-window" data-parallax="scroll" data-image-src="../img/1920x1080/01.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="promo-block-divider">
                            <h1 class="promo-block-title">India Startup-Tour</h1>
                            <p class="promo-block-text">PionierGarage e.V.</p>
                        </div>
                        <ul class="list-inline">
                            <li><a href="https://de-de.facebook.com/Pioniergarage/" class="social-icons"><i class="icon-social-facebook"></i></a></li>
                            <li><a href="https://www.linkedin.com/company-beta/2170972/" class="social-icons"><i class="icon-social-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>
        <!--========== SLIDER ==========-->

        <!--========== PAGE LAYOUT ==========-->
        <!-- About -->
        <div id="about-us">
            <div class="container" style="margin-top: 5rem;">
              <div class="row">
                  <div class="col-sm-1 sm-margin-b-10">
                    <img class="img-responsive" src="../img/logos/Logo_PionierGarage.png" style="width:50px; padding-top:0.5rem;">
                  </div>

                    <div class="col-sm-2 sm-margin-b-20">
                        <div class="text-right sm-text-left">
                            <h2 class="margin-b-0">Organized by</h2>
                            <p>The PionierGarage</p>
                        </div>
                    </div>
                    <div class="col-sm-8 col-sm-offset-1">
                        <div class="margin-b-60">
                            <p>15 students from the PionierGarage, the university group for entrepreneurship at the Karlsruhe Institute of Technology (KIT) in Germany, are going to visit one of the world's most significant tech and startup regions: India.</p>
                            <p>To find out more about our entrepreneurship club at Germany's leading technical university,<a href="https://pioniergarage.de/"> head over to our homepage</a> or contact us on info @ pioniergarage.de to become part of the tour as a supporter, partner, sponsor or Startup/VC to be visited. We're looking forward to meeting inspiring people!.</p>
                        </div>
                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>
        <!-- End About -->
        <!-- About the tour -->
        <div id="about-the-tour">
            <div class="container">
                <div class="row">
                    <div class="col-sm-1 sm-margin-b-10">
                      <img class="img-responsive" src="../img/logos/Logo_PionierGarage.png" style="width:50px; padding-top:0.5rem;">
                    </div>

                    <div class="col-sm-2 sm-margin-b-20">
                        <div class="text-right sm-text-left">
                            <h2 class="margin-b-0">About the Tour</h2>
                            <p>Pioniergarage meets India</p>
                        </div>
                    </div>
                    <div class="col-sm-8 col-sm-offset-1">
                        <div class="margin-b-60">
                            <p>The Pioneers are heading to India! After inspiring tours to Shanghai and Peking, the Silicon Valley, Boston and New York, London, Tel Aviv, Berlin and Munich the PionierGarage is visiting different cities in India. We are full of energy to find out more about the entrepreneurial scene in Bangalore and Pune and to get in touch with a variety of interesting and inspiring people. During the 10-day tour, we are visiting a number of startups, venture capitalists, entrepreneurial organizations and educational institutions..</p>
                        </div>
                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>
        <!-- End About the tour -->
        <!-- Experience -->

        <!--

        <div id="team">
            <div class="bg-color-sky-light" data-auto-height="true">
                <div class="container content-lg">
                    <div class="row">
                        <div class="col-sm-3 sm-margin-b-30">
                            <div class="text-right sm-text-left">
                                <h2 class="margin-b-0">Who we are</h2>
                                <p>Our Team</p>
                            </div>
                        </div>
                        <div class="col-sm-8 col-sm-offset-1">
                            <div class="row row-space-2 margin-b-4">
                                <div class="col-md-4 md-margin-b-4">
                                    <div class="service" data-height="height">
                                        <div class="service-element">
                                            <i class="service-icon icon-chemistry"></i>
                                        </div>
                                        <div class="service-info">
                                            <h3>Name 1</h3>
                                            <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                                        </div>
                                        <a class="content-wrapper-link"></a>
                                    </div>
                                </div>
                                <div class="col-md-4 md-margin-b-4">
                                    <div class="service bg-color-base wow zoomIn" data-height="height" data-wow-duration=".3" data-wow-delay=".1s">
                                        <div class="service-element">
                                            <i class="service-icon color-white icon-screen-tablet"></i>
                                        </div>
                                        <div class="service-info">
                                            <h3 class="color-white">Name 2</h3>
                                            <p class="color-white margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                                        </div>
                                        <a class="content-wrapper-link"></a>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="service" data-height="height">
                                        <div class="service-element">
                                            <i class="service-icon icon-badge"></i>
                                        </div>
                                        <div class="service-info">
                                            <h3>Name 3</h3>
                                            <p class="margin-b-5">Lorem ipsum dolor amet consectetur ut consequat siad esqudiat dolor</p>
                                        </div>
                                        <a class="content-wrapper-link"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        -->

        <!-- End Team -->

        <!-- Work -->
        <div id="past_tours">
            <div class="container content-lg">
              <div class="row">
                  <div class="col-sm-1 sm-margin-b-10">
                    <img class="img-responsive" src="../img/logos/Logo_PionierGarage.png" style="width:50px; padding-top:0.5rem;">
                  </div>

                    <div class="col-sm-2 sm-margin-b-20">
                        <div class="text-right sm-text-left">
                            <h2 class="margin-b-0">Past Tours</h2>
                            <p>Some of our past startup-tours</p>
                        </div>
                    </div>
                    <div class="col-sm-8 col-sm-offset-1">
                        <!-- Masonry Grid -->
                        <div class="masonry-grid row row-space-2">
                            <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
                            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-8 margin-b-4">
                                <!-- Work -->
                                <div class="work work-popup-trigger">
                                    <div class="work-overlay">
                                        <img class="full-width img-responsive" src="../img/past-tours/shanghai.jpg" alt="Portfolio Image">
                                    </div>
                                    <div class="work-popup-overlay">
                                        <div class="work-popup-content">
                                            <a href="javascript:void(0);" class="work-popup-close">Hide</a>
                                            <div class="margin-b-30">
                                                <h3 class="margin-b-5">Shanghai / Beijing </h3>
                                                <span>2016</span>
                                            </div>
                                            <div class="row">
                                              
                                                <div class="col-sm-8 work-popup-content-divider sm-margin-b-20">
                                                    <div class="margin-t-10 sm-margin-t-0">
                                                        <p>In November 2016 the PionierGarage visited the two main startup hubs in China, which are Beijing and Shanghai. 14 students spent two weeks, meeting startups in the field of robotics, AI, fintech and machine learning. Besides that, the group also visited the successful tech company Alibaba in Hangzhou and did a workshop at the Tsinghua university, which is Chinas leading university.</p>
                                                        <p><a href="http://shanghai.pioniergarage.de/">Link to the offical tour page</a></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Work -->
                            </div>
                            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4 margin-b-4">
                                <!-- Work -->
                                <div class="work work-popup-trigger">
                                    <div class="work-overlay">
                                        <img class="full-width img-responsive" src="../img/past-tours/london.jpg" alt="Portfolio Image">
                                    </div>
                                    <div class="work-popup-overlay">
                                        <div class="work-popup-content">
                                            <a href="javascript:void(0);" class="work-popup-close">Hide</a>
                                            <div class="margin-b-30">
                                                <h3 class="margin-b-5">London</h3>
                                                <span> 2017 </span>
                                            </div>
                                            <div class="row">
                                              
                                                <div class="col-sm-8 work-popup-content-divider sm-margin-b-20">
                                                    <div class="margin-t-10 sm-margin-t-0">
                                                        <p>8 Pioneers from our student club spent 10 days in London visiting small local startups, such as what3words, but also well-established tech companies like HelloFresh.</p>
                                                        <!--
                                                        <ul class="list-inline work-popup-tag">
                                                            <li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#"> - </a></li>
                                                            <li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">-,</a></li>
                                                            <li class="work-popup-tag-item"><a class="work-popup-tag-link" href="#">Portfolio</a></li>
                                                        </ul>
                                                        -->
                                                    </div>
                                                </div>
                                                <!--
                                                <div class="col-sm-4">
                                                    <div class="margin-t-10 sm-margin-t-0">
                                                        <p class="margin-b-5"><strong>Text:</strong> -</p>
                                                        <p class="margin-b-5"><strong>Text:</strong> -</p>
                                                        <p class="margin-b-5"><strong>Text:</strong> -</p>
                                                        <p class="margin-b-5"><strong>Text:</strong> -</p>
                                                    </div>
                                                </div>
                                              -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Work -->
                            </div>
                            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4">
                                <!-- Work -->
                                <div class="work work-popup-trigger">
                                    <div class="work-overlay">
                                        <img class="full-width img-responsive" src="../img/past-tours/berlin.jpg" alt="Portfolio Image">
                                    </div>
                                    <div class="work-popup-overlay">
                                        <div class="work-popup-content">
                                            <a href="javascript:void(0);" class="work-popup-close">Hide</a>
                                            <div class="margin-b-30">
                                                <h3 class="margin-b-5">Berlin</h3>
                                                <span> 2016 </span>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-8 work-popup-content-divider sm-margin-b-20">
                                                    <div class="margin-t-10 sm-margin-t-0">
                                                        <p>14 students from the PionierGarage went on a trip to Berlin, which is considered the German startup hub. In Berlin, the students visited some of the startups who have been initially originated in the PionierGarage and have moved to Berlin, such as Store2Be and Fotograf.de, but also other big players in the German Startup ecosystem, like Project A Ventures. .</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Work -->
                            </div>
                            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4"  style="margin-top:3px;">
                                <!-- Work -->
                                <div class="work work-popup-trigger">
                                    <div class="work-overlay">
                                        <img class="full-width img-responsive" src="../img/past-tours/muenchen.jpg" alt="Portfolio Image">
                                    </div>
                                    <div class="work-popup-overlay">
                                        <div class="work-popup-content">
                                            <a href="javascript:void(0);" class="work-popup-close">Hide</a>
                                            <div class="margin-b-30">
                                                <h3 class="margin-b-5">Munich </h3>
                                                <span> 2015 </span>
                                            </div>
                                            <div class="row">
                                              
                                                <div class="col-sm-8 work-popup-content-divider sm-margin-b-20">
                                                    <div class="margin-t-10 sm-margin-t-0">
                                                        <p>12 Pioneers went on a 12-day trip to Munich, one of the most innovative cities in Germany, to visit different startups ranging from fintech to hardware. Some of the highlights were: Windeln.de, Flixbus, Lendster and Freeletics.</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Work -->
                            </div>
                            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4">
                                <!-- Work -->
                                <div class="work work-popup-trigger">
                                    <div class="work-overlay">
                                        <img class="full-width img-responsive" src="../img/past-tours/silicon-valley.jpg" alt="Portfolio Image">
                                    </div>
                                    <div class="work-popup-overlay">
                                        <div class="work-popup-content">
                                            <a href="javascript:void(0);" class="work-popup-close">Hide</a>
                                            <div class="margin-b-30">
                                                <h3 class="margin-b-5">Silicon Valley</h3>
                                                <span> 2012 </span>
                                            </div>
                                            <div class="row">
                                              
                                                <div class="col-sm-8 work-popup-content-divider sm-margin-b-20">
                                                    <div class="margin-t-10 sm-margin-t-0">
                                                        <p>In 2012, 15 students from the PionierGarage organized one of the first student startup tours and decided to go to Silicon Valley, to learn more about the startup culture. They visited interesting startups and tech companies, as well as the top-ranking universities:</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="margin-t-10 sm-margin-t-0">
                                                        <p class="margin-b-5">Google</p>
                                                        <p class="margin-b-5">Stanford</p>
                                                        <p class="margin-b-5">Berkeley</p>
                                                        <p class="margin-b-5">twitter</p>
                                                        <p class="margin-b-5">German Silicon Valley Accalerator</p>
                                                        <p class="margin-b-5">WalmartLabs</p>
                                                        <p class="margin-b-5">blackbox</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Work -->
                            </div>
                            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-4">
                                <!-- Work -->
                                <div class="work work-popup-trigger">
                                    <div class="work-overlay">
                                        <img class="full-width img-responsive" src="../img/past-tours/silicon-valley_2.jpg" alt="Portfolio Image">
                                    </div>
                                    <div class="work-popup-overlay">
                                        <div class="work-popup-content">
                                            <a href="javascript:void(0);" class="work-popup-close">Hide</a>
                                            <div class="margin-b-30">
                                                <h3 class="margin-b-5">Silicon Valley</h3>
                                                <span> 2013 </span>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-8 work-popup-content-divider sm-margin-b-20">
                                                    <div class="margin-t-10 sm-margin-t-0">
                                                        <p>In 2013 the PionierGarage organized already the second Silicon Valley student tour together with the EBSpreneurs group. The team consisted of 25 students who spent 12 days in the Silicon Valley area, meeting amazing startups, VCs, and entrepreneurs such as:</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="margin-t-10 sm-margin-t-0">

                                                        <p class="margin-b-5">Peter Thiel (personally)</p>
                                                        <p class="margin-b-5">Facebook</p>
                                                        <p class="margin-b-5">Twitter</p>
                                                        <p class="margin-b-5">Github</p>
                                                        <p class="margin-b-5">Spool</p>
                                                        <p class="margin-b-5">Constantin Guericke (Linkedin Founder)</p>
                                                        <p class="margin-b-5">Lean Launchpad</p>
                                                        <p class="margin-b-5">Paul Bragiel (I/O Ventures)</p>
                                                        <p class="margin-b-5">500 Startups</p>
                                                        <p class="margin-b-5">Jeff Clavier (SoftTECH VC)</p>
                                                        <p class="margin-b-5">Pascale Finette (Mozilla)</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- End Work -->
                            </div>

                        </div>
                        <!-- End Masonry Grid -->
                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>
        <!-- End Work -->





        <!-- Work -->
        <div id="sponsors_and_partners">
            <div class="container content-lg">
              <div class="row">
                  <div class="col-sm-1 sm-margin-b-10">
                    <img class="img-responsive" src="../img/logos/Logo_PionierGarage.png" style="width:50px; padding-top:0.5rem;">
                  </div>

                    <div class="col-sm-2 sm-margin-b-20">
                        <div class="text-right sm-text-left">
                            <h2 class="margin-b-0">Sponsors</h2>
                            <p>Our Tour Sponsors</p>
                        </div>
                    </div>
                    <div class="col-sm-8 col-sm-offset-1">
                        <!-- Masonry Grid -->
                        <div class="masonry-grid row row-space-2">
                            <div class="masonry-grid-sizer col-xs-6 col-sm-6 col-md-1"></div>
                            <div class="masonry-grid-item col-xs-12 col-sm-6 col-md-8 margin-b-4">
                                <!-- Work -->
                                <div class="work"><a href="https://www.karlsruhe.de/">
                                    <div class="work-overlay">
                                        <img class="full-width img-responsive" src="../img/logos/Logo_Karlsruhe.png" alt="Portfolio Image" style="padding: 5rem;">
                                    </div>
                                </a></div>
                                <!-- End Work -->
                            </div>
                        </div>
                        <!-- End Masonry Grid -->
                    </div>
                </div>
                <!--// end row -->
            </div>
        </div>
        <!-- End Work -->




        <!-- Contact -->
        <div id="contact">
            <div class="bg-color-sky-light">
                <div class="container content-lg">
                  <div class="row">

                        <div class="col-sm-3 sm-margin-b-30">
                            <div class="text-right sm-text-left">
                                <h2 class="margin-b-0">Contacts</h2>
                                <p>Contact us.</p>
                            </div>
                        </div>
                        <div class="col-sm-8 col-sm-offset-1">
                            <div class="row">
                                <div class="col-md-3 col-xs-6 md-margin-b-30">
                                    <h5>Location</h5>
                                    <a href="#">Karlsruhe</a>
                                </div>
                                <!--
                                <div class="col-md-3 col-xs-6 md-margin-b-30">
                                    <h5>Phone</h5>
                                    <a href="#">+12 34 56 789</a>
                                </div>
                                -->
                                <div class="col-md-3 col-xs-6">
                                    <h5>Email</h5>
                                    <a href="mailto: info@pioniergarage.de"> info@pioniergarage.de</a>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <h5>Web</h5>
                                    <a href="https://pioniergarage.de/">pioniergarage.de</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--// end row -->
                </div>
            </div>
        </div>
        <!-- End Contact -->


        <!--========== END PAGE LAYOUT ==========-->

        <!--========== FOOTER ==========-->
        <footer class="footer">
            <div class="content container">
                <div class="row">
                    <div class="col-xs-6">
                        <img class="footer-logo" src="../img/logo-dark.png" alt="Aircv Logo">
                    </div>
                    <div class="col-xs-6 text-right sm-text-left">
                        <p class="margin-b-0"><a class="fweight-700" href="http://keenthemes.com/preview/aircv/">Aircv</a> Theme Powered by: <a class="fweight-700" href="http://www.keenthemes.com/">KeenThemes.com</a></p>
                    </div>
                </div>
                <!--// end row -->
            </div>
        </footer>
        <!--========== END FOOTER ==========-->


          <!-- Back To Top -->
        <a href="javascript:void(0);" class="js-back-to-top back-to-top">Top</a>

